<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Purchase Ticket</title>
  </head>

  <body>
    <form action="" method="post">
      <input type="number" placeholder="Total Ticket" />
      <input type="text" disabled placeholder="Dandiya Nighs" />

      <input
        type="text"
        disabled
        placeholder="Total Price "
        value="Total Price 2000"
      />

      <!-- <button id="rzp-button1">Purchase</button> -->
      <button id="rzp-button1">Pay</button>
    </form>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
      const rpButton = document.getElementById("rzp-button1");

      rpButton.addEventListener("click", async (event) => {
        const response = await fetch("/order", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            amount: 500,
          }),
        });

        const { order } = await response.json();
        var options = {
          key: "rzp_test_0GNdRLrhEpyqD1", // Enter the Key ID generated from the Dashboard
          amount: "50000", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
          currency: "INR",
          order_id: order.id,
          // order_id: order.id,
          handler: function (response) {
            alert(response.razorpay_payment_id);
            alert(response.razorpay_order_id);
            alert(response.razorpay_signature);
          },
        };

        var rzp1 = new Razorpay(options);
        rzp1.open();
      });
    </script>
  </body>
</html>
